/* Responsive style start */

@media (max-width:1200px){
    html{
        font-size: 60%;
    }
    
}




@media (max-width:991px) {
    header{
        padding: 2rem;
    }

    section{
        padding: 10rem 2rem;
    }

    footer{
        padding: 2rem;
    }
    
    
}

@media (max-width:768px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color: #050114;
        display: none;
        transition: 0.5s;
    }

    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 2.5rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-image img{
        width: 60vw;
        height: 80vh;
    }

    .about{
        flex-direction: column;
    }

    .about-image img{
        width: 60vw;
        height: 80vh;
    }

    .service-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2rem;
     }
     

    .projects-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 4rem;
    }
}

@media (max-width:617px) {
    .home-content h1{
        font-size: 3rem;
    }

    .home-content h3{
        font-size: 2rem;
    }  
    
}

@media (max-width:450px) {
    html{
        font-size: 50%;
    } 
    
    .service-content{
        display: flex;
        flex-direction: column;
    }

    .projects-content{
        display: flex;
        flex-direction: column;
    }

    .projects-box{
        width: 100%;
    }

    .contact-content .name input{
        display: flex;
        flex-direction: column;
    }
    
    .footer-content{
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer-txt{
        margin-top: 3rem;
    }
}

@media (max-width:350px){
    html{
        font-size: 30%;
    }
    
    .home-image img{
        width: 50vw;
        height: 60vh;
    }

    .about-image img{
        width: 50vw;
        height: 60vh;
    }
}

@media (max-width:200px){
    html{
        font-size: 25%;
    }
}